<div class="grid surface-ground full-height">
  <div class="col-6">
    <app-card-button
      [active$]="status$.isOn"
      [clickHandler]="triggerAction.bind(this, 'start')"
      [disabled$]="buttonDeactivation$.isStartButtonDeactivated"
      [label]="'Start'"
      [loading$]="loading$.isStartLoading">
    </app-card-button>
  </div>
  <div class="col-6">
    <app-card-button
      [active$]="status$.isOff"
      [clickHandler]="triggerAction.bind(this, 'stop')"
      [disabled$]="buttonDeactivation$.isStopButtonDeactivated"
      [label]="'Stop'"
      [loading$]="loading$.isStopLoading">
    </app-card-button>
  </div>

  <div class="col-6">
    <app-card-button
      [active$]="status$.isSleepMode"
      [clickHandler]="triggerAction.bind(this, 'sleep')"
      [disabled$]="buttonDeactivation$.isFunctionButtonDeactivated"
      [label]="'Sleep'"
      [loading$]="loading$.isSleepLoading">
    </app-card-button>
  </div>
  <div class="col-6">
    <app-card-button
      [active$]="status$.isTurboMode"
      [clickHandler]="triggerAction.bind(this, 'turbo')"
      [disabled$]="buttonDeactivation$.isFunctionButtonDeactivated"
      [label]="'Turbo'"
      [loading$]="loading$.isTurboLoading">
    </app-card-button>
  </div>
  <div class="col-6">
    <app-card-button
      [active$]="status$.isAllergeneMode"
      [clickHandler]="triggerAction.bind(this, 'modeA')"
      [disabled$]="buttonDeactivation$.isFunctionButtonDeactivated"
      [label]="'Mode A'"
      [loading$]="loading$.isModeALoading">
    </app-card-button>
  </div>
  <div class="col-6">
    <app-card-button
      [active$]="status$.isGeneralMode"
      [clickHandler]="triggerAction.bind(this, 'modeP')"
      [disabled$]="buttonDeactivation$.isFunctionButtonDeactivated"
      [label]="'Mode P'"
      [loading$]="loading$.isModePLoading">
    </app-card-button>
  </div>

  <div class="col-12 mt-1"></div>

  <div class="col-12 mt-3 flex justify-content-end">
    <p-tag value="Last Update: {{ sensorData$.timestamp | async | date:'HH:mm:ss' }}"/>
    <!--    <p-tag severity="secondary" value="{{ sensorData$.timestamp | async | date:'dd.MM.YYYY' }}"/>-->
  </div>

  <div class="col-6">
    <app-card-information
      [header]="'PM2.5'"
      [maxValue]="(((sensorData$.pm25 | async) ?? 0) <= 50 ? 50 : 500)"
      [unit]="'µg/m³'"
      [value]="(sensorData$.pm25 | async) ?? 0"
    ></app-card-information>
  </div>
  <div class="col-6">
    <app-card-information
      [header]="'Allergen (IAI)'"
      [maxValue]="12"
      [value]="(sensorData$.iaql | async) ?? 0"
    ></app-card-information>
  </div>

  <div class="col-12 mt-1"></div>

  <div class="col-6">
    <app-card-information
      [header]="'Pre-filter'"
      [maxValue]="350"
      [unit]="'%'"
      [value]="(sensorData$.fltsts0 | async) ?? 0"
    ></app-card-information>
  </div>
<!--  <div class="col-6">-->
<!--    <app-card-information-->
<!--      [header]="'Carbon filter'"-->
<!--      [maxValue]="5800"-->
<!--      [unit]="'%'"-->
<!--      [value]="(sensorData$.fltsts1 | async) ?? 0"-->
<!--    ></app-card-information>-->
<!--  </div>-->
<!--  <div class="col-6">-->
<!--    <app-card-information-->
<!--      [header]="'HEPA filter'"-->
<!--      [maxValue]="2025"-->
<!--      [unit]="'%'"-->
<!--      [value]="(sensorData$.fltsts2 | async) ?? 0"-->
<!--    ></app-card-information>-->
<!--  </div>-->
</div>

<router-outlet></router-outlet>
